body {
    margin: 0;
    background-color: #f7f9fc;
}

.header, .main {
    margin: 0 auto;
    width: 952px;
}

.header {
    height: 190px;
}

.header-title {
    padding-top: 81px;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: italic;
    color: #333333;
}

.header-menu-list {
    padding: 0;
    list-style: none;
    margin-top: -31px;
    margin-left: 455px;
    margin-bottom: 0;
}

.header-menu-item {
    margin-left: 42px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
}

.header-menu-item:active {
    color: #5c6bc0;
}

.header-menu-item::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #5c6bc0;
    transition: width 0.3s ease-in-out;
}

.header-menu-item:hover::after {
    width: 100%;
}

/*.header-menu-item:last-child:hover::after {*/
    /*width: 0;*/
/*}*/

.header-search-button {
    width: 16px;
    height: 17px;
    background-image: url("../images/search/search_header.svg");
}

.header-search-button:hover {
    background-image: url("../images/search/hover.svg");
}

.feed {
    margin: 0;
    padding: 0;
    width: 952px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.post-date {
    padding-top: 60px;
    font-weight: bold;
    font-size: 14px;
    color: #bdbdbd;
}

.post-category {
    position: absolute;
    right: -12px;
    margin-top: -60px;

    display: inline-block;
    padding: 10px 12px 11px 10px;
    background-color: #5c6bc0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    transition: padding 0.3s ease-in-out;
}

.post-category:hover {
    padding: 12px 17px 13px 15px;
    background-color: #6b79c6;
}

.post-category:active {
    padding: 12px 17px 13px 15px;
    background-color: #5360ad;
}

.post-title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    padding-bottom: 86px;
}

.post-title::after {
    content: '';
    border-top: 2px solid #eeeeee;
    width: 756px;
    margin-top: 96px;
    left: 98px;
    position: absolute;
}

.post-content {
    margin: 0;
    padding-bottom: 17px;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    color: #333333;
}

.post-readmore {
    position: absolute;
    margin-left: -34px;
    padding: 21px 33px 19px 34px;
    font-weight: bold;
    font-size: 21px;
    color: #5c6bc0;
    text-transform: uppercase;
}

.post-readmore:hover {
    border: 1px solid #f1f1f1;
    padding-top: 20px;
    padding-left: 33px;
}

.post-readmore:active {
    border: 1px solid #7c89cc;
    padding-top: 20px;
    padding-left: 33px;
}

.post-tags {
    margin-top: 27px;
    position: absolute;
    right: 100px;
    font-size: 14px;
    list-style: none;
}

.post-header-photo {
    width: 952px;
    margin-left: -98px;
}

.post-header-photo:hover {
    filter: brightness(80%);
}

.post-tag {
    margin-left: 13px;
    display: inline-block;
    position: relative;
    color: #b2b2b2;
}

.post-tag:hover {
    color: #5c6bc0;
}

.post-tag::before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: -1px;
    width: 0;
    height: 1px;
    background-color: #5c6bc0;
    transition: width 0.3s ease-in-out;
}

.post-tag:hover::before {
    content: '';
    width: calc(100% - 7px);
}

.post-tag:active::before {
    transition: width 0s ease-in-out;
    width: 0;
}

.first-post, .second-post, .third-post {
    padding-left: 98px;
    padding-right: 98px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    position: relative;
}

.first-post {
    height: 590px;
}

.second-post {
    height: calc(875px + 636px);
}

.third-post {
    height: 1140px;
}

.post-picture {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.post-content-special-left-bound {
    margin: 0 0 0 25px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
    position: relative;
    padding-bottom: 17px;
}

.post-content-special-cursive {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 40px;
    color: #999999;
    padding-bottom: 20px;
}

.post-content-special-left-bound::before {
    /*margin-left: -25px;*/
    position: absolute;
    content: '';
    left: -25px;
    height: 80%;
    width: 4px;
    border-left: 4px solid #eeeeee;
}

.post-link {
    color: #5c6bc0;
    text-decoration: none;
    position: relative;
}

.post-link::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-top: 1px solid #5c6bc0;
}

.footer {
    padding-left: 322px;
    padding-right: 322px;
    margin-top: 67px;
    height: 530px;
    background-color: #5c6bc0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footer-title {
    letter-spacing: 1px;
    padding-top: 65px;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color: #4a569a;
}

.footer-menu-list {
    margin: 0 0 45px;
    padding-top: 66px;
    padding-left: 0;
    list-style: none;
}

.footer-menu-item {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-left: 22px;
    position: relative;
}

.footer-menu-item::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

.footer-menu-item:hover::before {
    width: 100%;
}

.footer-menu-item:hover:last-child::before {
    content: '';
    width: 0;
}

.footer-menu-item:active::before {
    content: '';
    transition: width 0s ease-in-out;
    width: 0;
}

.footer-credits::before {
    /*margin-bottom: 42px;*/
    /*padding-top: 30px;*/
    content: '';
    width: 756px;
    position: absolute;
    top: 0;
    border-top: 2px solid #5765b5;
}

.footer-credits::after {
    content: '';
    width: 756px;
    position: absolute;
    bottom: 0;
    left: 42px;
    border-bottom: 2px solid #5765b5;
}

.footer-credits, .footer-info {
    color: #7d89cd;
    font-weight: 700;
}

.footer-credits {
    font-size: 13px;
    position: relative;
    padding: 40px;
    margin-bottom: 38px;
}

.footer-info {
    font-size: 14px;
}

.footer-author {
    color: white;
    font-size: 14px;
    position: relative;
}

.footer-author::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

.footer-author:hover::before {
    width: 100%;
}

.footer-search-button {
    margin-bottom: -10px;
    padding: 8px;
}

.footer-search-button:hover {
    background-color: #5360ac;
}

.social {
    margin-top: 40px;
    margin-left: 30px;
    list-style: none;
}

.social-item:first-child {
    margin-left: -72px;
}

.social-item {
    margin-left: 20px;
    display: inline-block;
}

.social-icon {
    padding: 5px;
}

.social-icon:hover {
    background-color: #5360ac;
}