.main {
    margin: 0 auto;
    max-width: 952px;
    width: 90%;
    font-family: 'Lato', sans-serif;
}

.feed {
    padding: 0;
    position: relative;
}

.feed-post {
    margin: 0 auto 50px;
    max-width: 952px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.feed-post__page {
    margin: 0 auto;
    max-width: 756px;
    width: 90%;
    font-family: 'Lato', sans-serif;
    color: #333333;
    padding-bottom: 110px;
}

.feed-post__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.feed-post__date {
    padding-top: 60px;
    font-weight: bold;
    font-size: 14px;
    color: #bdbdbd;
}

.feed-post__category {
    float: right;
    margin-right: -12px;
    margin-top: 20px;
}

.category-block {
    padding: 10px 12px 11px 10px;
    background-color: #5c6bc0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    transition: padding 0.3s ease-in-out;
}

.category-block__link-to {
    color: white;
    text-decoration: none;
}

.category-block:hover {
    padding: 12px 17px 13px 15px;
    background-color: #6b79c6;
}

.category-block:active {
    padding: 12px 17px 13px 15px;
    background-color: #5360ad;
}

.feed-post__title {
    margin: 0 0 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    border-bottom: 2px solid #eeeeee;
}

/*Read More button*/
.button {
    position: absolute;
    margin-left: -34px;
    padding: 21px 33px 19px 34px;
    text-align: center;

    font-weight: bold;
    font-size: 21px;
    color: #5c6bc0;
    text-transform: uppercase;
}

.button:hover {
    border: 1px solid #f1f1f1;
    padding-top: 20px;
    padding-left: 33px;
}

.button:active {
    border: 1px solid #7c89cc;
    padding-top: 20px;
    padding-left: 33px;
}
/*Read More button*/

.feed-post__header-photo {
    max-width: 952px;
    width: 100%;
}

.feed-post__header-photo:hover {
    filter: brightness(80%);
}

/*Hashtags*/
.feed-post__hashtags {
    margin-top: 27px;
    list-style: none;
    float: right;
}

.hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.hashtags__tag {
    padding-left: 10px;
    position: relative;
}

.hashtags__link-to::before {
    content: '#';
    color: #b2b2b2;
}

.hashtags__link-to {
    font-size: 15px;
    color: #b2b2b2;
    text-decoration: none;
}

.hashtags__link-to:hover {
    color: #5c6bc0;
}

.hashtags__link-to:hover::before {
    content: '#';
    color: #5c6bc0;
}

.hashtags__tag::before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #5c6bc0;
    transition: width 0.3s ease-in-out;
}

.hashtags__tag:hover::before {
    content: '';
    width: calc(100% - 10px);
}

.hashtags__tag:active::before {
    transition: width 0s ease-in-out;
    width: 0;
}
/*Hashtags*/

.feed-post__content-picture{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.feed-post__content_left-bound {
    margin: 0 0 0 25px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
    position: relative;
    padding-bottom: 17px;
}

.feed-post__content_left-bound::before {
    position: absolute;
    content: '';
    left: -25px;
    height: 80%;
    width: 4px;
    border-left: 4px solid #eeeeee;
}

.feed-post__content_cursive {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 40px;
    color: #999999;
    padding-bottom: 20px;
}

.feed-post__link {
    color: #5c6bc0;
    text-decoration: none;
    position: relative;
}

.feed-post__link::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-top: 1px solid #5c6bc0;
}

@media screen and (max-width: 480px) {
    .feed-post {
        margin-bottom: 60px;
    }

    .feed-post__category {
        margin-right: 0;
        margin-top: 0;
        font-size: 18px;
        z-index: 2;
        position: absolute;
        right: 0;
    }

    .category-block_in-photo {
        margin-top: -251px;
    }

    .feed-post__header-photo {
        z-index: 1;
        position: relative;
    }

    .feed-post__page {
        max-width: 450px;
        width: 80%;
        padding-bottom: 140px;
    }

    .feed-post__title {
        font-size: 32px;
    }

    .feed-post__text {
        font-size: 18px;
        color: black;
    }

    .feed-post__content_cursive {
        font-size: 21px;
        letter-spacing: 0;
        line-height: 30px;
    }

    .feed-post__content-picture {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .feed-post__hashtags {
        margin-top: 67px;
        margin-left: -10px;
        padding: 0;

        float: left;
        position: absolute;
    }

    .hashtags__link-to {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .feed-post {
        margin-bottom: 20px;
    }

    .feed-post__date {
        padding-top: 50px;
    }

    .hashtags__link-to {
        font-size: 15px;
    }
}