<header class="general-header">
    <div class="general-header__logo"></div>
    <ul class="general-header__menu menu">
        <li class="menu__item">
            <a class="menu__title" href="./index.html">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__title" href="#">About</a>
        </li>
        <li class="menu__item">
            <a class="menu__title" href="#">Archive</a>
        </li>
        <li class="menu__item">
            <a class="menu__title" href="./contact.html">Contact</a>
        </li>
        <li class="menu__item">
            <a class="menu__title">
                <div class="menu__search-button"></div>
            </a>
        </li>
    </ul>
</header>
