<footer class="general-footer">
    <div class="general-footer__title">Palo Alto</div>
    <ul class="general-footer__menu second-menu">
        <li class="second-menu__item_forbidden">
            <a class="second-menu__title_forbidden">Home</a>
        </li>
        <li class="second-menu__item">
            <a class="second-menu__title">About</a>
        </li>
        <li class="second-menu__item">
            <a class="second-menu__title">Archive</a>
        </li>
        <li class="second-menu__item">
            <a class="second-menu__title" href="./contact.html">Contact</a>
        </li>
        <li class="second-menu__item">
            <a class="second-menu__title">
                <img class="second-menu__search-button" src="./images/search_footer.svg" alt="search"/>
            </a>
        </li>
    </ul>
    <p class="general-footer__credits">Nunc placerat dolor at lectus hendrerit dignissim.
        Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio.
        Donec viverra ligula at quam tincidunt imperdiet.
        Nulla mattis tincidunt auctor.
    </p>
    <div class="general-footer__info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <a class="general-footer__made-by">PixelBuddha Team</a>
    </div>
    <ul class="general-footer__social social">
        <li class="social__item">
            <a class="social__link" href="#">
                <img class="social__icon" src="./images/facebook.svg" alt="facebook"/>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#">
                <img class="social__icon" src="./images/twitter.svg" alt="twitter"/>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#">
                <img class="social__icon" src="./images/instagram.svg" alt="instagram"/>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#">
                <img class="social__icon" src="./images/pinterest.svg" alt="pinterest"/>
            </a>
        </li>
    </ul>
</footer>
