{{#> layout/layout}}
    <main class="main">
        <ul class="main__feed feed">
            <li class="feed-post">
                <div class="feed-post__category category-block">I do travel</div>
                <article class="feed-post__page">
                    <div class="feed-post__date">Sep 20</div>
                    <h2 class="feed-post__title">No difference how many peaks you reach if there was no pleasure in the
                        climb.</h2>
                    <p class="feed-post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed ultrices tellus vitae rutrum congue.
                        Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                        Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                        Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum.
                        Aenean ut consequat ex, vitae vulputate nunc.
                        Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <a class="feed-post__read-more button">Read more</a>
                    <ul class="feed-post__tags tags-list">
                        <li class="tags-list__tag">#Yosemite</li>
                        <li class="tags-list__tag">#Peak</li>
                        <li class="tags-list__tag">#Explorer</li>
                    </ul>
                </article>
            </li>

            <li class="feed-post">
                <img class="feed-post__header-photo" src="./images/yosemite.png" alt="yosemite"/>
                <div class="feed-post__category category-block category-block_in-photo">I do observe</div>
                <article class="feed-post__page">
                    <div class="feed-post__date">Sep 18</div>
                    <h2 class="feed-post__title">You know, I'd rather argue with you, then laugh with anyone else.</h2>
                    <p class="feed-post__content_cursive">
                        Curabitur luctus placerat lorem id eleifend.
                        Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus.
                        Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan
                        purus.
                        Proin aliquet ex massa, ac finibus magna commodo vitae.
                    </p>
                    <p class="feed-post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
                        vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim
                        efficitur.
                        Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum.
                        Aenean ut consequat ex, vitae vulputate nunc.
                        Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="feed-post__text">
                        Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra.
                        Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat.
                        Nulla odio mi, iaculis id congue quis, euismod id nisi.
                        In varius congue diam, et viverra lorem bibendum ut
                    </p>
                    <a class="feed-post__read-more button">Read more</a>
                    <ul class="feed-post__tags tags-list">
                        <li class="tags-list__tag">#Yosemite</li>
                        <li class="tags-list__tag">#Peak</li>
                        <li class="tags-list__tag">#Photo</li>
                    </ul>
                </article>
            </li>

            <li class="feed-post">
                <div class="feed-post__category category-block">I do reflect</div>
                <article class="feed-post__page">
                    <div class="feed-post__date">Sep 11</div>
                    <h2 class="feed-post__title">
                        Democracy means simply the bludgeoning of the people by the people for the people.
                    </h2>
                    <img class="feed-post__content-picture" src="./images/greek.svg" alt="greek"/>
                    <p class="feed-post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
                        vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim
                        efficitur.
                        Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex,
                        vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="feed-post__text">
                        Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend
                        dui et
                        efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem,
                        <a class="feed-post__link" href="">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante,
                        varius a
                        euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue
                        nisi,
                        venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend.
                        Aliquam
                    </p>
                    <p class="feed-post__text">
                        quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet
                        ullamcorper.
                        Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
                    </p>
                    <p class="feed-post__content_left-bound">
                        Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis,
                        a porttitor velit imperdiet id.
                    </p>
                    <p class="feed-post__text">
                        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut,
                        ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
                        auctor.
                        Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus
                        feugiat
                        tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
                    </p>
                    <a class="feed-post__read-more button">Read more</a>
                    <ul class="feed-post__tags tags-list">
                        <li class="tags-list__tag">#Democracy</li>
                        <li class="tags-list__tag">#Introspection</li>
                    </ul>
                </article>
            </li>
        </ul>
    </main>
{{/ layout/layout}}