<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="general-header">
    <!--<div class="general-header__title">Palo Alto</div>-->
    <div class="general-header__logo"></div>
    <ul class="general-header__menu menu">
        <li class="menu__item">
            <a class="menu__title" href="index.html">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__title">About</a>
        </li>
        <li class="menu__item">
            <a class="menu__title">Archive</a>
        </li>
        <li class="menu__item_forbidden">
            <a class="menu__title_forbidden" href="contact.html">Contact</a>
        </li>
        <li class="menu__item">
            <a class="menu__title">
                <div class="menu__search-button"></div>
            </a>
        </li>
    </ul>
</header>

<main class="contact-us">
    <article class="contact-us__content">
        <h1 class="contact-us__title">Contact us</h1>
        <p class="contact-us__message">
            Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non.
            Integer at dui a lacus suscipit elementum id non massa.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Nunc eu neque eros. Ut eu quam justo.
        </p>
        <form class="contact-us__form form" method="post">
            <div class="form__text-input text-input">
                <input id="first-name" class="text-input__window" type="text" placeholder="Your Name">
                <input id="email" class="text-input__window" type="email" placeholder="Email">
                <input id="subject" class="text-input__window" type="text" placeholder="Subject">
                <textarea id="message" class="text-input__window" placeholder="Your Message"></textarea>
            </div>
            <div class="form__send-button button">
                <button class="button__text">Send message</button>
            </div>
        </form>
    </article>
</main>

<footer class="general-footer">
    <div class="general-footer__title">Palo Alto</div>
    <ul class="general-footer__menu second_menu">
        <li class="second_menu__item">
            <a class="second_menu__title">Home</a>
        </li>
        <li class="second_menu__item">
            <a class="second_menu__title">About</a>
        </li>
        <li class="second_menu__item">
            <a class="second_menu__title">Archive</a>
        </li>
        <li class="second_menu__item">
            <a class="second_menu__title">Contact</a>
        </li>
        <li class="second_menu__item">
            <a class="second_menu__title">
                <img class="second-menu__search-button" src="../images/search/search_footer.svg" alt="search"/>
            </a>
        </li>
    </ul>
    <p class="general-footer__credits">Nunc placerat dolor at lectus hendrerit dignissim.
        Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio.
        Donec viverra ligula at quam tincidunt imperdiet.
        Nulla mattis tincidunt auctor.
    </p>
    <div class="general-footer__info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <a class="general-footer__made-by">PixelBuddha Team</a>
    </div>
    <ul class="general-footer__social social">
        <li class="social__item">
            <img class="social__icon" src="../images/social/facebook.svg" alt="facebook"/>
        </li>
        <li class="social__item">
            <img class="social__icon" src="../images/social/twitter.svg" alt="twitter"/>
        </li>
        <li class="social__item">
            <img class="social__icon" src="../images/social/instagram.svg" alt="instagram"/>
        </li>
        <li class="social__item">
            <img class="social__icon" src="../images/social/pinterest.svg" alt="pinterest"/>
        </li>
    </ul>
</footer>

</body>
</html>