<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palo Alto</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="header-title">Palo Alto</div>
    <!--<img class="header-title" src="../images/logo/palo_alto.svg"/>-->
    <ul class="header-menu-list">
        <li class="header-menu-item">
            <a class="menu-title">Home</a>
        </li>
        <li class="header-menu-item">
            <a class="menu-title">About</a>
        </li>
        <li class="header-menu-item">
            <a class="menu-title">Archive</a>
        </li>
        <li class="header-menu-item">
            <a class="menu-title">Contact</a>
        </li>
        <li class="header-menu-item">
            <a class="menu-title">
                <img class="search-button" src="../images/search/search_header.svg"/>
            </a>
        </li>
    </ul>
</div>

<div class="main">
    <ul class="feed">
        <li class="first-post">
            <div class="post-date">Sep 20</div>
            <div class="post-category">I do travel</div>
            <div class="post-title">No difference how many peaks you reach if there was no pleasure in the climb.</div>
            <p class="post-content">
                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
                vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum.
                Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet,
                pretium et augue.
            </p>
            <div class="post-readmore">Read more</div>
            <ul class="post-tags">
                <li class="post-tag">#Yosemite</li>
                <li class="post-tag">#Peak</li>
                <li class="post-tag">#Explorer</li>
            </ul>
        </li>

        <li class="second-post">
            <img class="post-photo" src="../images/content/yosemite.svg"/>
            <div class="post-date">Sep 18</div>
            <div class="post-category">I do observe</div>
            <div class="post-title">You know, I'd rather argue with you, then laugh with anyone else.</div>
            <p class="post-content-special">
                Curabitur luctus placerat lorem id eleifend.
                Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus.
                Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus.
                Proin aliquet ex massa, ac finibus magna commodo vitae.
            </p>
            <p class="post-content">
                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
                vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex,
                vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
            </p>
            <p class="post-content">
                Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper
                scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi,
                iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut
            </p>
            <div class="post-readmore">Read more</div>
            <ul class="post-tags">
                <li class="post-tag">#Yosemite</li>
                <li class="post-tag">#Peak</li>
                <li class="post-tag">#Photo</li>
            </ul>
        </li>

        <li class="third-post">
            <div class="post-date">Sep 11</div>
            <div class="post-category">I do reflect</div>
            <div class="post-title">
                Democracy means simply the bludgeoning of the people by the people for the people.
            </div>
            <p class="post-content">
                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
                vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex,
                vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
            </p>
            <p class="post-content">
                Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et
                efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem,
                <a class="post-link" href="">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a
                euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi,
                venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam
            </p>
            <img class="post-picture" src="../images/content/greek.svg"/>
            <p class="post-content">
                quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper.
                Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
            </p>
            <p class="post-content-special-marked">
                Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis,
                a porttitor velit imperdiet id.
            </p>
            <p class="post-content">
                Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut,
                ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
                Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat
                tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
            </p>
            <div class="post-readmore">Read more</div>
            <ul class="post-tags">
                <li class="post-tag">#Democracy</li>
                <li class="post-tag">#Introspection</li>
            </ul>
        </li>
    </ul>
</div>

<div class="footer">
    <div class="footer-title">Palo Alto</div>
    <!--<img class="footer-title" src="../images/logo/palo_alto_grey.svg"/>-->
    <ul class="footer-menu-list">
        <li class="footer-menu-item">
            <a class="footer-menu-title">Home</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-title">About</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-title">Archive</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-title">Contact</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-title">
                <img class="search-button" src="../images/search/search_footer.svg"/>
            </a>
        </li>
    </ul>
    <p class="footer-credits">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
        hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet.
        Nulla mattis tincidunt auctor.
    </p>
    <div class="footer-info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <a class="footer-author">PixelBuddha Team</a>
    </div>
    <!--<a class="footer-author">PixelBuddha Team</a>-->
    <ul class="social">
        <li class="social-item">
            <img class="social-icon" src="../images/social/facebook.svg"/>
        </li>
        <li class="social-item">
            <img class="social-icon" src="../images/social/twitter.svg"/>
        </li>
        <li class="social-item">
            <img class="social-icon" src="../images/social/instagram.svg"/>
        </li>
        <li class="social-item">
            <img class="social-icon" src="../images/social/pinterest.svg"/>
        </li>
    </ul>
</div>

</body>
</html>