body {
    margin: 0;
    background-color: #f7f9fc;
    font-family: 'Lato', sans-serif;
}

.contact-us {
    margin: 0 auto;
    max-width: 952px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    background-color: white;
}

.contact-us__content {
    margin: 0 auto;
    max-width: 756px;
    width: 90%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-us__title {
    margin: 0;
    font-size: 40px;
    text-transform: capitalize;
}

.contact-us__message {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 96px;
    font-size: 17px;
    color: #333333;
}

.contact-us__message::after {
    content: '';
    width: 756px;
    margin-top: 48px;
    border-top: 2px solid #eeeeee;
    float: left;
}

.contact-us__form {
    max-width: 952px;
    width: 100%;
    margin: 0 auto;
}

.text-input__window {
    max-width: 304px;
    width: 90%;
    height: 56px;
    border: 1px solid #f7f9fc;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4a569a;
    color: #333333;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#name {
    float: left;
}

#email {
    float: right;
}

#subject {
    max-width: 694px;
    width: 100%;
    height: 56px;
}

#message {
    max-width: 694px;
    width: 100%;
    height: 120px;
    padding-top: 26px;
}

/*#subject {
    width: 304px;
    height: 56px;
    border: 1px solid #f7f9fc;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4a569a;
    color: #333333;
}*/

.button__text {
    cursor: pointer;
    width: 188px;
    height: 52px;
    border-width: 0;
    border-radius: 3px;
    color: #5c6bc0;
    font-size: 17px;
    background-color: white;
}