body {
    margin: 0;
    background-color: #f7f9fc;
    font-family: 'Lato', sans-serif;
}

.contact-us {
    margin: 0 auto;
    width: 952px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.contact-us__content {
    margin: 0 auto;
    width: 756px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-us__title {
    margin: 0;
    font-size: 40px;
    text-transform: capitalize;
}

.contact-us__message {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 96px;
    font-size: 17px;
    color: #333333;
}

.contact-us__message::after {
    content: '';
    width: 756px;
    margin-top: 48px;
    border-top: 2px solid #eeeeee;
    float: left;
}

.text-input__window {
    width: 304px;
    height: 56px;
    border: 1px solid #f7f9fc;
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #f7f9fc;*/
    background-color: #4a569a;
    color: #333333;
}

#subject {
    width: 304px;
    height: 56px;
    border: 1px solid #f7f9fc;
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #f7f9fc;*/
    background-color: #4a569a;
    color: #333333;
}